.search-icon {
  font-size: x-large;
}

.search-input {
  width: 0px;
  font-size: 28px;
  font-weight: 600;
  background: none;
  display: none;
  transition: 0.3s;
  background: none;
}

.search-input-active {
  width: 260px;
  margin-left: 16px;
  display: block;
  background-color: #e6e6e6;
  border-radius: 20px;
  border: none;
  height: 25px;
  outline: 0;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  // background: rgba(1, 1, 1, 0.5);
  background: rgba(255, 255, 255, 0.2);
  color: #e6e6e6;
}

.search {
  display: flex;
  padding-left: 20px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  padding-right: $common-spacing;
}
