.nav-bar {
  height: 120px;
  width: 100vw;
  background: rgba(1, 1, 1, 0.5);
  color: #e6e6e6;

  //layout properties
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  &-location {
    display: flex;
    flex-direction: row;
  }

  &-location-selector-icon {
    align-self: center;
    padding-left: 10px;
  }

  &-search-icon {
    padding-right: $common-spacing;
    font-size: x-large;
  }

  &-heading {
    font-size: 32px;
    font-weight: bold;
    padding-left: $common-spacing;
  }
}
