.next-day-forecast {
  &-container {
    margin-top: $common-spacing;

    .weather-details {
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        margin: 70px 0 70px 0;
      }
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &-next-day-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: auto;
    border-radius: 10px;

    @media (min-width: 768px) {
      width: 600px;
      height: 200px;
      align-self: end;
      margin-right: 50px;
      box-sizing: border-box;
    }

    .heading {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .type-of-day-high-low {
      display: flex;
      flex-flow: row wrap;
      width: 25%;
      justify-content: space-between;

      .conditions {
        display: flex;
      }
    }
  }

  &-next-day-heading {
    display: flex;
    justify-content: space-between;
  }

  &-atmosphere-conditions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    // .wind, .chance-of-rain, .humidity {

    // }

    .atmosphere-conditions-icons {
      margin-right: 10px;
    }

    .icon-number-group {
      display: flex;
      margin-top: 10px;
    }
  }

  &-days-of-the-week-cards {
    margin-top: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px 0 20px;

    @media (min-width: 768px) {
      flex-direction: row;
      height: auto;
      align-self: center;
      width: 70%;
    }

    @media (min-width: 1280px) {
      align-self: center;
    }

    // @media (min-width: 768px) {
    //   .card:nth-child(1) {
    //     margin-left: 60px;
    //   }

    //   .card:last-child {
    //     margin-right: 60px;
    //   }
    // }

    .card {
      background-color: white;
      height: auto;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      box-sizing: border-box; //this might be messing with mobile styles

      @media (min-width: 768px) {
        width: 200px;

        height: 200px;
        flex-direction: column;
        flex: 0 0 auto;
        align-items: center;
        border-radius: 10px;
        margin-right: 20px;
      }

      .icon-temperature-group {
        display: flex;

        @media (min-width: 768px) {
          flex-direction: column-reverse;
        }

        .temperature {
          @media (min-width: 768px) {
            font-size: 24px;
          }
        }

        .days-of-the-week-card-icons {
          margin-left: 10px;
          @media (min-width: 768px) {
            margin: 0px auto 60px auto;
            font-size: xx-large;
          }
        }
      }
    }
    .card:last-child {
      margin-right: 0;
    }
  }
}
