.next-day-forecast {
  &-container {
    .weather-details {
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 70px 0 60px 0;
        padding-bottom: 250px;
        // min-height: calc(59vh - 70px);
      }
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  // &-next-day-info {
  //   background-color: white;
  //   display: flex;
  //   flex-direction: column;
  //   margin: 0 20px;
  //   padding: 20px;
  //   height: auto;
  //   border-radius: 10px;

  //   @media (min-width: 768px) {
  //     width: 600px;
  //     height: 200px;

  //     margin: 0 50px 0 50px;
  //     box-sizing: border-box;
  //   }

  //   .heading {
  //     font-weight: bold;
  //     margin-bottom: 20px;
  //   }

  //   .type-of-day-high-low {
  //     display: flex;
  //     flex-flow: row wrap;
  //     width: 25%;
  //     justify-content: space-between;

  //     .conditions {
  //       display: flex;
  //     }
  //   }
  // }

  // &-next-day-heading {
  //   display: flex;
  //   justify-content: space-between;
  // }

  // &-atmosphere-conditions {
  //   margin-top: 20px;
  //   display: flex;
  //   justify-content: space-between;

  //   // .wind, .chance-of-rain, .humidity {

  //   // }

  //   .atmosphere-conditions-icons {
  //     margin-right: 10px;
  //   }

  //   .icon-number-group {
  //     display: flex;
  //     margin-top: 10px;
  //   }
  // }

  &-days-of-the-week-cards {
    background-color: white;
    display: flex;
    flex-direction: column;

    margin: 20px 20px 0 20px;
    box-sizing: border-box;

    @media (min-width: 768px) {
      flex-direction: row;
      height: 250px;
      width: 100%;
      margin: 60px 0 0 0;
      justify-content: center;
      box-sizing: border-box;
      padding: 20px;
    }

    // @media (min-width: 768px) {
    //   .card:nth-child(1) {
    //     margin-left: 60px;
    //   }

    //   .card:last-child {
    //     margin-right: 60px;
    //   }
    // }

    .card {
      height: auto;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      box-sizing: border-box; //this might be messing with mobile styles
      border-radius: 5px;

      @media (min-width: 768px) {
        width: 35em;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        margin-right: 20px;
        margin-left: 20px;
      }

      .icon-temperature-group {
        display: flex;

        @media (min-width: 768px) {
          flex-direction: column-reverse;
        }

        .temperature {
          @media (min-width: 768px) {
            font-size: 24px;
          }
        }

        .days-of-the-week-card-icons {
          margin-left: 10px;
          @media (min-width: 768px) {
            margin: 0px auto 60px auto;
            font-size: xx-large;
          }
        }
      }
    }
    // .card:last-child {
    //   margin-right: 0;
    // }
  }
}
