.App {
  // position: relative;
  // overflow-x: hidden;
  background: linear-gradient(to top, #33ccff 0%, #ccffff 101%);

  .container {
    padding-bottom: 20px;

    @media (min-width: 768px) {
      padding-bottom: 0;
    }
    .current-weather-details {
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 70px 0 60px 0;
        padding-bottom: 250px;
        // min-height: calc(59vh - 70px);
      }
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}
