.App {
  overflow: hidden;

  .spinner {
    margin: 0 auto;
    position: relative;
    top: 100px;
  }

  .container {
    height: 100%;

    .weather-container {
      height: 100%;
      &-day {
        background: linear-gradient(to top, #000066 0%, #00ccff 99%);
      }

      &-night {
        background: linear-gradient(to top, #000066 0%, #000000 99%);
      }

      &-day,
      &-night {
        padding-bottom: 20px;

        @media (min-width: 768px) {
          padding-bottom: 0;
        }
      }
    }

    @media (min-width: 768px) {
      padding-bottom: 0;
    }
    .current-weather-details {
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 70px 0 60px 0;
        padding-bottom: 250px;
        // min-height: calc(59vh - 70px);
      }
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}
