.current {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  padding: 30px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 300px;
  }

  &-temp {
    font-size: 70px;
  }

  &-temp-icon-group {
    padding-left: 40px;
    .sun-icon {
      font-size: 70px;
    }
    .condition {
      margin-top: 20px;
      text-align: center;
    }
  }

  &-temp-details {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;

    .low-temp {
      margin-bottom: 10px;
    }
  }
}
